$nav__background-color: #fff;
$nav__shadow-color: #555;
$link__text-color: #000;
$link-color: #000;
$link-hover-color: #fff;
$link-hover-background-color: #777;
$site-yellow: #fdcc52;
$site__title-hoverColor: #fff;