@font-face {
    font-family: 'Catamaran';
    src: url(/dist/fonts/Catamaran/Catamaran-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Lato';
    src: url(/dist/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Muli';
    src: url(/dist/fonts/Mulish/Mulish-VariableFont_wght.ttf);
}

body {
    font-family: 'Catamaran', Helvetica, Arial, sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}