#features {
    top: -300px;
    transition: top 3s;
}

.featuresSection {
    background-color: #fff;
    // min-height: 480px;
    text-align: center;

    // p {
    //     font-size: 1.2rem;
    // }

    // h1 {
    //     font-family: "Catamaran", Helvetica, Arial, sans-serif;
    //     font-size: 4rem;
    //     font-weight: 100;
    // }
}

.features {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;

    &__head {
        padding: 2rem auto 0;
        // border-radius: 0.3rem;

        @media (min-width: 992px) {
            margin-bottom: 2rem;
        }

    }

    &__title {
        font-family: "Catamaran", Helvetica, Arial, sans-serif;
        font-size: 4rem;
        font-weight: 100;
        line-height: 5.2rem;
        margin-bottom: 1.5rem;
    }

    &__lead {
        font-size: 1.5rem;
        font-weight: 300;
        color: #6c757d;
        margin-top: 0;
        margin-bottom: 3rem;
    }

    &__line {
        width: 140px;
        color: #6c757d;
        margin-top: 0;
        // margin-bottom: 4rem;
        margin-bottom: 0;
    }

    &__article {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 66.6667%;
        margin: 5rem auto 0;
        padding: 0 2.5rem 0 0;
        justify-content: center;

        @media (min-width: 992px) {
            // display: block;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            width: 75%;
            margin-top: 3rem;
            margin-bottom: 4.5rem;
            margin-left: 12.5%;
            padding: 0;

        }
    }

    &__img {
        position: relative;
        width: 360px;
        height: 770px;
        background-image: url("/dist/img/demo-screen-1.jpg"), url("/dist/img/phone.png");
        background-size: 90%, 100%;
        background-repeat: no-repeat, no-repeat;
        background-position: center, center;
        margin: 0 auto;

        @media (min-width: 992px) {
            display: inline-block;
            width: 33%;
            max-width: 360px;
            margin-top: -1.5rem;
            margin-left: 0;
        }
    }

    &__items {
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: center;
        // margin-right: -15px;
        // margin-left: -15px;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        text-align: center;

        @media (min-width: 992px) {
            // display: inline-block;
            flex-direction: row;
            width: 66.6667%;
            // width: 100%;
            margin-top: 3rem;
            margin-left: 0;
            // margin-right: 12.5%;
            margin-right: 0;
            padding: 0;
        }
    }

    &__card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #fff;
        background-clip: border-box;
        border-top: 1px solid rgba(0, 0, 0, 0.125);
        // border-radius: 0.25rem;
        width: 24rem;
        margin: 0 auto;

        @media (min-width: 992px) {
            // -ms-flex-direction: row;// flex-direction: row;
            // flex-wrap: wrap;
            width: 50%;
            margin-left: 0;
        }
    }
}

.card {
    &__icon {
        /* font-family: 'simple-line-icons'; */
        // font-size: 100px;
        color: rgb(178, 50, 93);
        font-size: 4rem;
        margin-top: 0.5rem;
        margin-bottom: 0;
    }

    &__body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        // padding: 1.25rem;
        padding: 0;
        margin-top: 0;
    }

    &__title {
        color: #222;
        font-size: 2.5rem;
        font-weight: 100;
        margin-bottom: 0.5rem;

        @media (min-width: 992px) {
            font-size: 1.8rem;
        }

    }

    &__text {
        color: #6c757d;
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 10rem;

        @media (min-width: 992px) {
            font-size: 1.2rem;
            padding-left: .5rem;
            padding-right: .5rem;
            margin-bottom: 1.5rem;
        }

    }
}