#bootstrap-overrides {
    margin-top: -60px;
}

#download {
    top: -300px;
    transition: top 3s;
}

.site {
    &__title {
        color: rgb(253, 200, 68);

        &:hover {
            color: rgb(255, 255, 255);
        }
    }

    &__menu {
        font-family: "Catamaran", Helvetica, Arial, sans-serif;
    }

    &__button {
        font-family: "Lato", Helvetica, Arial, sans-serif;
        transition: background-color 3s;

        &:hover {
            background-color: #fdcc52;
        }
    }

    &__upperMenuLink {
        font-family: "Lato", Helvetica, Arial, sans-serif;
    }

    &__footer {
        font-family: "Muli", Helvetica, Arial, sans-serif;
    }
}

.newAgeSection {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    // justify-content: center;
    background-image: url("/dist/img/bg-pattern.png"), linear-gradient(to right, rgb(218, 36, 49), rgba(122, 67, 151));
    background-repeat: repeat, no-repeat;
    min-height: 800px;
    // max-height: 1140px;

    @media only screen and (min-width: 992px) {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    &__row {
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        width: 100%;
        // text-align: center;

        @media only screen and (min-width: 992px) {
            position: relative;
            width: 33.33333vw;
            -ms-flex-align: left;
            align-items: left;
            margin-left: 16.66666667vw;
        }
    }

    &__text {
        // text-align: center;
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 0.5rem;
        font-size: 2.5rem;
        font-weight: 100;
        line-height: 3.2rem;
        text-align: center;

        @media (min-width: 992px) {
            margin-top: 0;
            margin-right: 3rem;
            padding-top: 0;
            text-align: left;
        }
    }

    &__button {
        border: 1px solid #dee2e6;
        border-radius: 50rem;
        margin-left: 0;
        padding-left: 6rem;
        padding-right: 6rem;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        color: #fff;

        @media (min-width: 992px) {
            text-align: left;
            margin-right: auto;

        }

        &:hover {
            background-color: #fdcc52;
            border-color: #fdcc52;
            transition: all .3s;
        }
    }

    p:not(.nav__text) {
        font-family: "Muli", Helvetica, Arial, sans-serif;
        font-size: 1.5rem;
        font-weight: 100;
    }

    &__img {
        margin-top: 5rem;
        margin-bottom: 6rem;
    }
}

.mt-5,
.my-5 {
    margin-top: 3rem;
}

.doubleMobilImg {
    /* width: 432px; */
    width: 360px;
    /* height: 868px; */
    height: 770px;
    background-image: url("/dist/img/demo-screen-1.jpg"), url("/dist/img/phone.png");
    /* background-size: 90%, cover; */
    /* background-size: 90%, contain; */
    background-size: 90%, 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}