@use 'modules/modules';
// @use 'modules/modules'as *;

.nav {
  background: modules.$nav__background-color;
  box-shadow: 0 0 10px modules.$nav__shadow-color;
  display: flex;
  justify-content: center;

  &.upper__menu {
    background-color: transparent;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }

  &__container {
    align-items: flex-start;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;

    @media screen and (min-width: 40em) {
      align-items: center;
    }

    &.upper__menu {
      width: 60%;
    }
  }

  &__list {
    display: none;
    flex-direction: column;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    @media screen and (min-width: 40em) {
      display: flex;
      flex-direction: row;
      width: auto;
    }
  }

  &__menu-box {
    display: flex;
    border: 1px solid modules.$link-color;
    border-radius: 3px;
    margin: .5rem;

    @media screen and (min-width: 40rem) {
      display: none;
    }
  }

  &__text {
    font-family: 'Catamaran', Helvetica, Arial, sans-serif;
    color: modules.$link__text-color;
    margin: 0 0 0 .75rem;
    padding: .5rem 0;
    text-align: left;
    display: inline-block;
  }

  &__item {
    text-align: center;
  }

  &__link {
    color: modules.$link-color;
    display: block;
    line-height: 1rem;
    padding: .25rem .5rem;
    text-decoration: none;
    font-size: .8rem;

    @media screen and (min-width: 40rem) {
      margin: 1.1rem 0;
    }

    &:hover {
      color: modules.$link-hover-color;
      background: modules.$link-hover-background-color;
    }
  }

  &__hamburger {
    &-checkbox {
      display: none;

      &:checked+.nav__list {
        display: flex;
      }
    }

    &-label {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      // height: 1.5rem;
      height: 1rem;
      padding: 0.75rem 0.75rem 0.75rem 0.5rem;
      // width: 1.5rem;
      width: 1rem;

      @media screen and (min-width: 40rem) {
        display: none;
      }
    }

    &-line {
      background: modules.$link-color;
      display: block;
      height: 2px;
      // width: 1.5rem;
      width: 1rem;
    }
  }
}

.upper__menu {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.site__title {
  font-family: 'Catamaran', Helvetica, Arial, sans-serif;
  font-weight: 200;
  align-self: flex-start;
  margin: .75rem;
  padding-right: auto;
  color: modules.$site-yellow;

  &:hover {
    color: modules.$site__title-hoverColor;
  }
}